* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Palette di colori */
:root {
    --primary-color: #0084fd;
    --light-blue: #b5ddff;
    --secondary-color: #9792e4;
}





.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.header-site {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
}
.container{
    align-items: center;
    margin: auto;
    height: 80px;
    max-width: 1170px;
    padding: 10px;
}

ul.nav-hide li {
    display: inline-block;
    text-style: none;
    display: none;
}


.logo, .hamburger {
    background-color: var(--light-blue);
}

main {
    margin-top: 100px
}

.cards, .benefits-cards {
    width: calc(100% - rem);
    margin: auto;
}

.card, .planning-card, .testimonial-card, .benefits-card {
    background-color: var(--light-blue);
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    height: 300px;
    border-radius: 15px;
    width: calc(100% - 2rem)
}

.planning-card:last-child {
    background-color: white;
}

.planning {
    background-color: var(--secondary-color);
    padding: 20px 0px;
}

.planning-card {
    background-color: var(--secondary-color);
    padding: 10px;
}

.benefits h2 {
    text-align: center;
    margin: auto;
}

.planning div {

}

.planning-bg {
    background-color: var(--secondary-color);
}

.testimonial-card {
    background-color: var(--secondary-color);
    margin-top: 10px
}

.about-us  {
    width: calc(100% - 2rem);
    margin: auto;
    background-color: bisque;

}

.get-started-bg {
    background-color: #9792e4;
}

.get-started {
    max-width: 85%;
    text-align: center;
    margin: auto;
    background-color: var(--primary-color);
}

.footer-bg {
    background-color: grey;
}

.footer-content {
    max-width: 75%;
    margin: auto;
    border: 1px solid red
}



/*Responsive zone (Keep Danger)*/


/* Responsive tablet (768px)*/
@media screen and (min-width: 768px) {
    .container, testimonials {
        max-width: 730px;
    }

    .cards, .benefits-cards {
        max-width: 730px;
        margin: auto;
        display: flex;
        flex-wrap: wrap ;
    }

    .card  {
        margin: 10px;
        width: calc(100% / 3 - 20px);
    }

    div.cards .card:first-child {
        width: calc(100% /3 *2 - 20px);
    }

    .planning {
        display: flex;
    }

    .planning-card {
        max-width: 730px;
    }

    .testimonial-card {
        max-width: 730px;
    }

    .benefits-card {
        margin: 10px;
        width: calc(100% / 2 - 20px);
    }

    .about-us {
        display: flex;
        max-width: 700px;
        margin: auto;
        text-align: center;
    }
    .about-us-txt, .about-us-img {
        border: 1px solid red;
        margin: 10px;
        width: calc(100%/2 -20px);
    }

    .get-started {
        max-width: 650px;
    }

    .footer-content {
        max-width: 600px;
    }

}

/* Responsive tablet (992px)*/
@media screen and (min-width: 992px) {
    .container, .testimonials {
        max-width: 960px;
        margin: auto;
    }

    .hamburger {
        display: none;
    }
    
    ul.nav-hide li {
        display: inline-block;
        width: 50px;
        background-color: var(--light-blue);
    }

    .cards, .testimonial-card, .benefits-cards {
        max-width: 960px;
    }

    div.cards .card:first-child {
        display: flex;
    }

    .card-1-txt, .card-1-img {
        width:50%;
    }

    .planning {
        width: 760px;
        margin: auto;
    }
    .planning-card {
        width: calc(100%/2 -2rem);
        border: 1px solid red;
    }

    .benefits-card {
        margin: 10px;
        width: calc(100% / 3 - 20px);
    }

    .about-us {
        max-width: 900px;
        flex-grow: 1;

    }
    .about-us-txt {
        width: 65%;
    }
}