* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Palette di colori */
:root {
    --primary-color: 
}





.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}